#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-boot
    # Display
    chown system system /sys/devices/dsi_panel_driver/hbm_mode
    chown system system /sys/devices/dsi_panel_driver/flm2_mode
    chown system oem_2987 /sys/devices/dsi_panel_driver/area_count
    chown system system /sys/devices/dsi_panel_driver/somc_max_brightness
    chown system system /sys/module/msm_drm/parameters/dp_validate_mode
    chown system system /sys/devices/dsi_panel_driver/camera_flash_brightness
    chown system system /sys/devices/dsi_panel_driver/thermal_limit
    chown system system /sys/devices/dsi_panel_driver/somc_max_luminance
    chown system oem_2987 /sys/devices/dsi_panel_driver/panel_id
    chmod 0440 /sys/devices/dsi_panel_driver/panel_id

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ sec_touchscreen bu520x1nvx et603-int
    wait /dev/block/by-name/LTALabel
    exec_start msim_sh

on init
    wait /dev/block/bootdevice/by-name/TA
    start tad

on boot
    wait /sys/class/battchg_ext/smart_charging_activation
    write /sys/class/battchg_ext/smart_charging_activation 1
    chown system system /sys/class/battchg_ext/smart_charging_interruption

    # Touch screen
    write /sys/devices/virtual/sec/tsp/after_work 1
    write /sys/module/sec_touchscreen/parameters/report_rejected_event 1
    chown system system /sys/devices/virtual/sec/tsp/module_id
    chmod 0600 /sys/devices/virtual/sec/tsp/module_id
    chown system system /sys/devices/dsi_panel_driver/pre_sod_mode
    chown system system /sys/devices/virtual/sec/tsp/cmd
    chmod 0600 /sys/devices/virtual/sec/tsp/cmd

    # Charger
    chmod 0664 /sys/class/battchg_ext/usb_input_suspend
    chmod 0664 /sys/class/battchg_ext/lrc_charge_disable
    chmod 0664 /sys/class/battchg_ext/lrc_input_suspend
    chmod 0664 /sys/class/battchg_ext/batt_aging_level
    chmod 0664 /sys/class/battchg_ext/system_temp_level
    chmod 0664 /sys/class/battchg_ext/sdm_therm
    chmod 0664 /sys/class/battman_dbg/regupdate_interval
    chmod 0664 /sys/class/battman_dbg/log_interval
    chmod 0664 /sys/class/battman_dbg/log_categories
    chmod 0664 /sys/class/battman_dbg/log_level
    chmod 0664 /sys/class/qcom-battery/wireless_boost_en
    chmod 0444 /sys/kernel/debug/battery_debug/votables/fv_tot/status
    chmod 0444 /sys/kernel/debug/battery_debug/votables/iusb0_tot/status
    chmod 0444 /sys/kernel/debug/battery_debug/votables/fcc_tot/status

    # USB
    chown root system /config/usb_gadget/g1

on post-fs
    # Display
    chown system system /sys/devices/dsi_panel_driver/flm2_mode
    chown system system /sys/devices/dsi_panel_driver/hbm_mode
    chown system system /sys/devices/dsi_panel_driver/area_count
    chown system system /sys/devices/dsi_panel_driver/somc_max_brightness
    chown system system /sys/devices/dsi_panel_driver/pre_sod_mode
    chown system system /sys/module/msm_drm/parameters/dp_validate_mode

    # Sensor
    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings

on post-fs-data
    # Charger
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/wireless/uevent
    chmod 0664 /sys/class/power_supply/usb/uevent

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness    

    # Fingerprint
    mkdir /data/vendor/egis 0770 system system

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 288: msm_drm
    # IRQ 251: kgsl_3d0_irq
    write /proc/irq/288/smp_affinity_list 2
    write /proc/irq/251/smp_affinity_list 1

service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    disabled

service msim_sh /odm/bin/init.qcom.msim.sh
    user root
    group root
    oneshot

on property:sys.boot_completed=1
    swapon_all /vendor/etc/fstab.zram

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

# LTALabel
on property:vendor.radio.ltalabel.model=XQ-CT72
    setprop ro.vendor.product.rf.id PDX223-C2

on property:vendor.radio.ltalabel.model=XQ-CT62
    setprop ro.vendor.product.rf.id PDX223-A2US

on property:vendor.radio.ltalabel.model=XQ-CT54
    setprop ro.vendor.product.rf.id PDX223-A4

on property:vendor.radio.ltalabel.model=XQ-CT44
    setprop ro.vendor.product.rf.id PDX223-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=A201SO
    setprop ro.vendor.product.rf.id PDX223-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=SOG06
    setprop ro.vendor.product.rf.id PDX223-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=SO-51C
    setprop ro.vendor.product.rf.id PDX223-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=XQ-CQ72
    setprop ro.vendor.product.rf.id PDX224-C2

on property:vendor.radio.ltalabel.model=XQ-CQ62
    setprop ro.vendor.product.rf.id PDX224-A2US

on property:vendor.radio.ltalabel.model=XQ-CQ54
    setprop ro.vendor.product.rf.id PDX224-A4

on property:vendor.radio.ltalabel.model=XQ-CQ44
    setprop ro.vendor.product.rf.id PDX224-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=A204SO
    setprop ro.vendor.product.rf.id PDX224-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=SOG09
    setprop ro.vendor.product.rf.id PDX224-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:vendor.radio.ltalabel.model=SO-54C
    setprop ro.vendor.product.rf.id PDX224-J4
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"
